<p>ceruzarajz works!</p>
<!-- images here -->
<div *ngFor="let image of _albums; let i=index">
  <img [src]="image.thumb" (click)="open(i)" />
</div>

<!-- <div class="row">
      <div class="column">
        <img
          src="https://mdbootstrap.com/img/Photos/Thumbnails/Slides/1.jpg"
          onclick="openModal();currentSlide(1)" class="hover-shadow"
          alt="Lightbox image 1"
          class="d-block w-100 rounded"
        />
      </div>
        <div class="column">
          <img
          src="https://mdbootstrap.com/img/Photos/Thumbnails/Square/1.jpg"
          data-target="#caruselExample" data-slide-to="1"
          alt="Lightbox image 2"
          class="d-block w-100 rounded"
        />
      </div>
      <div class="column">
        <img
          src="https://mdbootstrap.com/img/Photos/Thumbnails/Vertical/1.jpg"
          data-target="#caruselExample" data-slide-to="2"
          alt="Lightbox image 3"
          class="d-block w-100 rounded"
        />
      </div>
    </div> 
 -->
    <!-- Modal lightbox -->


