@font-face{
	font-family:greatvibes;
	src: url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
}
@font-face{
	font-family:roboto;
	src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
}
@font-face{
	font-family:pacific;
	src: url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
}