@use 'colors';
@use 'variables';

.flex-nav .toggleNav {
    display: none;
}
.menu {
    background-color: purple;
    font-size: 1.5rem;
    min-height: 60px;
    display: flex;
    justify-content: space-around;

    &.ul li {
        display: flex;
        padding: 10px;
        min-width: 12rem;
        text-align: center;
        float: left;

        &.a {
            color:colors.$menu_a;

            &.hover {
                background-color:colors.$menu_hover;
                color: darkgreen;
                text-decoration: none;
                font-weight: variables.$weight ;
                opacity: 90%;
            }
        }
    }
}