<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hadik-Art</title>
</head>
<body>
   <div class="container-fluid">
       <div id="nyil">
        <img src="assets/images/nyil_lila.svg" alt="arrow up">
       </div>
       <div class="flex-nav">
        <a href="#" class="toggleNav"><span class="hamburger">&#9776; Menü</span></a>
       <ul>
           <li><a href="#">Főoldal</a></li>
           <li><a href="#">Ceruza rajzok</a></li>
           <li><a href="#">Pasztel rajzok</a></li>
           <li><a href="#">Akvarellek</a></li>
           <li><a href="#">Olajfestmények</a></li>
       </ul>
        </div>
   </div> 
</body>
</html>
